<a href="https://colab.research.google.com/github/timothydevann/DataMiningKelompokM/blob/main/Jawaban_Study_Case_01_Data_Mining_Group_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CASE STUDY 01 DATA MINING (A)**

**Kelompok M**
1. Angelina Putri (2006464152)
2. Nathanael Andrian Patrick (1906375713)
3. Timothy Devan Chandra (1906375726)
4. Vania Putri Musdani (1906377706)

Keterangan Varabel:

Created_at: Tanggal dimana iklan rumah dibuat 

LT : Luas Tanah properti yang ditawarkan

LB : Luas Bangunan properti yang ditawarkan

KT : Jumlah Kamar Tidur properti yang ditawarkan

KM : Jumlah Kamar Mandi properti yang ditawarkan

Garasi : Jumlah Kapasitas Garasi di properti yang ditawarkan

Carport : Jumlah kapasitas Carport di properti yang ditawarkan

Lokasi : Detail lokasi properti yang ditawarkan

Sertifikat: Jenis sertifikat properti yang ditawarkan

Listrik : Daya listrik dari properti yang ditawarkan

Hadap : Keterangan property yang ditawarkan menghadap ke arah mana

Harga : Harga property yang ditawarkan dalam Rupiah

URL : Alamat tautan (link) property yang ditawarkan.

Deskripsi : Deskripsi iklan property yang ditawarkan.

In [ ]:
# Loading Data:
import pandas as pd

try: # Running Locally, yakinkan "file_" berada di folder "data"
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfB = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    dfX = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')    
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/NathanaelAP/ADM-Case-01-EDA/main/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/NathanaelAP/ADM-Case-01-EDA/main/data/bogor.csv
    !wget -P data/ https://raw.githubusercontent.com/NathanaelAP/ADM-Case-01-EDA/main/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/NathanaelAP/ADM-Case-01-EDA/main/data/tangerang.csv
    !wget -P data/ https://raw.githubusercontent.com/NathanaelAP/ADM-Case-01-EDA/main/data/bekasi.csv
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfB = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    dfX = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')
    
dfJ.shape, dfD.shape, dfB.shape, dfT.shape, dfX.shape

((1024, 26), (998, 26), (999, 26), (128, 26), (992, 26))

In [ ]:
print(dfJ)

      created_at     LT     LB   KT   KM  garasi  carport         lokasi  \
0     06-12-2021  202.0  198.0  8.0  3.0     NaN      NaN  Jakarta Pusat
1     02-12-2021   30.0   55.0  2.0  1.0     NaN      1.0  Jakarta Pusat
2     06-12-2021   19.0   35.0  2.0  1.0     NaN      NaN  Jakarta Pusat
3     06-12-2021   33.0   42.0  2.0  2.0     NaN      1.0  Jakarta Pusat
4     06-12-2021   30.0   55.0  2.0  2.0     NaN      1.0  Jakarta Pusat
...          ...    ...    ...  ...  ...     ...      ...            ...
1019         NaN    NaN    NaN  NaN  NaN     NaN      NaN            NaN
1020         NaN    NaN    NaN  NaN  NaN     NaN      NaN            NaN
1021         NaN    NaN    NaN  NaN  NaN     NaN      NaN            NaN
1022         NaN    NaN    NaN  NaN  NaN     NaN      NaN            NaN
1023         NaN    NaN    NaN  NaN  NaN     NaN      NaN            NaN

     sertifikat  listrik  ... Unnamed: 16  Unnamed: 17 Unnamed: 18  \
0           SHM   2200.0  ...         NaN          NaN         NaN
1           SHM   2200.0  ...         NaN          NaN         NaN
2           SHM   2200.0  ...         NaN          NaN         NaN
3           SHM   2200.0  ...         NaN          NaN         NaN
4           SHM   2200.0  ...         NaN          NaN         NaN
...         ...      ...  ...         ...          ...         ...
1019        NaN      NaN  ...         NaN          NaN         NaN
1020        NaN      NaN  ...         NaN          NaN         NaN
1021        NaN      NaN  ...         NaN          NaN         NaN
1022        NaN      NaN  ...         NaN          NaN         NaN
1023        NaN      NaN  ...         NaN          NaN         NaN

     Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2            NaN          NaN          NaN          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
...          ...          ...          ...          ...          ...
1019         NaN          NaN          NaN          NaN          NaN
1020         NaN          NaN          NaN          NaN          NaN
1021         NaN          NaN          NaN          NaN          NaN
1022         NaN          NaN          NaN          NaN          NaN
1023         NaN          NaN          NaN          NaN          NaN

      Unnamed: 24  Unnamed: 25
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
...           ...          ...
1019          NaN          NaN
1020          NaN          NaN
1021          NaN          NaN
1022          NaN          NaN
1023          NaN          NaN

[1024 rows x 26 columns]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

# New Section

In [ ]:
dfJ.head(5)

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,NaN,NaN,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,NaN,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfJ.tail(5)

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
1019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfJ.dtypes

created_at      object
LT             float64
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi          object
sertifikat      object
listrik        float64
hadap           object
harga          float64
URL             object
deskripsi       object
Unnamed: 14    float64
Unnamed: 15    float64
Unnamed: 16    float64
Unnamed: 17    float64
Unnamed: 18    float64
Unnamed: 19    float64
Unnamed: 20    float64
Unnamed: 21    float64
Unnamed: 22    float64
Unnamed: 23    float64
Unnamed: 24    float64
Unnamed: 25    float64
dtype: object

In [54]:
dfJ[['garasi', 'carport']] = dfJ[['garasi','carport']].fillna(value=0)
dfD[['garasi', 'carport']] = dfD[['garasi','carport']].fillna(value=0)
dfB[['garasi', 'carport']] = dfB[['garasi','carport']].fillna(value=0)
dfT[['garasi', 'carport']] = dfT[['garasi','carport']].fillna(value=0)
dfX[['garasi', 'carport']] = dfX[['garasi','carport']].fillna(value=0)

In [ ]:
print(dfJ.head(5))

   created_at     LT     LB   KT   KM  garasi  carport         lokasi  \
0  06-12-2021  202.0  198.0  8.0  3.0     0.0      0.0  Jakarta Pusat
1  02-12-2021   30.0   55.0  2.0  1.0     0.0      1.0  Jakarta Pusat
2  06-12-2021   19.0   35.0  2.0  1.0     0.0      0.0  Jakarta Pusat
3  06-12-2021   33.0   42.0  2.0  2.0     0.0      1.0  Jakarta Pusat
4  06-12-2021   30.0   55.0  2.0  2.0     0.0      1.0  Jakarta Pusat

  sertifikat  listrik  ... Unnamed: 16  Unnamed: 17 Unnamed: 18 Unnamed: 19  \
0        SHM   2200.0  ...         NaN          NaN         NaN         NaN
1        SHM   2200.0  ...         NaN          NaN         NaN         NaN
2        SHM   2200.0  ...         NaN          NaN         NaN         NaN
3        SHM   2200.0  ...         NaN          NaN         NaN         NaN
4        SHM   2200.0  ...         NaN          NaN         NaN         NaN

   Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 26 columns]

In [ ]:
print(dfJ.isnull().sum())
dfJ.head()

created_at      903
LT              903
LB              903
KT              903
KM              903
garasi            0
carport           0
lokasi          903
sertifikat      905
listrik         904
hadap           988
harga           903
URL             903
deskripsi       912
Unnamed: 14    1024
Unnamed: 15    1024
Unnamed: 16    1024
Unnamed: 17    1024
Unnamed: 18    1024
Unnamed: 19    1024
Unnamed: 20    1024
Unnamed: 21    1024
Unnamed: 22    1024
Unnamed: 23    1024
Unnamed: 24    1024
Unnamed: 25    1024
dtype: int64

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

created_at      903
LT              903
LB              903
KT              903
KM              903
garasi            0
carport           0
lokasi          903
sertifikat      905
listrik         904
hadap           988
harga           903
URL             903
deskripsi       912
Unnamed: 14    1024
Unnamed: 15    1024
Unnamed: 16    1024
Unnamed: 17    1024
Unnamed: 18    1024
Unnamed: 19    1024
Unnamed: 20    1024
Unnamed: 21    1024
Unnamed: 22    1024
Unnamed: 23    1024
Unnamed: 24    1024
Unnamed: 25    1024
dtype: int64

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,06-12-2021,202.0,198.0,8.0,3.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-12-2021,30.0,55.0,2.0,1.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06-12-2021,19.0,35.0,2.0,1.0,0.0,0.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06-12-2021,33.0,42.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06-12-2021,30.0,55.0,2.0,2.0,0.0,1.0,Jakarta Pusat,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
dfJ2 = dfJ.iloc[0:121, 0:12]
dfD2 = dfD.iloc[0:118, 0:12]
dfB2 = dfB.iloc[0:193, 0:12]
dfT2 = dfT.iloc[0:124, 0:12]
dfX2 = dfX.iloc[0:107, 0:12]

dfJ3 = dfJ2.drop(dfJ2.columns[[0,10]],axis = 1)
dfD3 = dfD2.drop(dfD2.columns[[0,10]],axis = 1)
dfB3 = dfB2.drop(dfB2.columns[[0,10]],axis = 1)
dfT3 = dfT2.drop(dfT2.columns[[0,10]],axis = 1)
dfX3 = dfX2.drop(dfX2.columns[[0,10]],axis = 1)
print(dfJ3)
print(dfD3)
print(dfB3)
print(dfT3)
print(dfX3)

        LT     LB   KT   KM  garasi  carport         lokasi sertifikat  \
0    202.0  198.0  8.0  3.0     0.0      0.0  Jakarta Pusat        SHM
1     30.0   55.0  2.0  1.0     0.0      1.0  Jakarta Pusat        SHM
2     19.0   35.0  2.0  1.0     0.0      0.0  Jakarta Pusat        SHM
3     33.0   42.0  2.0  2.0     0.0      1.0  Jakarta Pusat        SHM
4     30.0   55.0  2.0  2.0     0.0      1.0  Jakarta Pusat        SHM
..     ...    ...  ...  ...     ...      ...            ...        ...
116  220.0  239.0  5.0  4.0     1.0      2.0  Jakarta Timur       PPJB
117   70.0   57.0  3.0  2.0     0.0      2.0  Jakarta Timur        SHM
118  315.0  280.0  4.0  3.0     1.0      2.0  Jakarta Timur  SHM + IMB
119  135.0  190.0  5.0  5.0     0.0      2.0  Jakarta Timur  SHM + IMB
120  144.0  250.0  5.0  5.0     0.0      2.0  Jakarta Timur        SHM

     listrik         harga
0     2200.0  4.500000e+09
1     2200.0  1.100000e+09
2     2200.0  3.950000e+08
3     2200.0  8.350000e+08
4     2200.0  1.100000e+09
..       ...           ...
116   3500.0  3.850000e+09
117   2200.0  8.800000e+08
118   3500.0  4.300000e+09
119   2200.0  3.400000e+09
120   3500.0  2.250000e+09

[121 rows x 10 columns]
      LT     LB   KT   KM  garasi  carport     lokasi sertifikat  listrik  \
0    165  200.0  4.0  2.0     0.0      1.0  Sukmajaya        SHM   2200.0
1     50   45.0  2.0  1.0     0.0      0.0   Cipayung        SHM   1300.0
2     50   36.0  2.0  1.0     0.0      1.0   Sawangan        SHM   1300.0
3     50   45.0  2.0  1.0     0.0      0.0  Cimanggis        SHM   1300.0
4     72   45.0  2.0  1.0     0.0      1.0   Sawangan        SHM   1300.0
..   ...    ...  ...  ...     ...      ...        ...        ...      ...
113   79  115.0  2.0  1.0     1.0      1.0  Sukmajaya        SHM      NaN
114   72   45.0  2.0  1.0     0.0      1.0  Cimanggis        SHM      NaN
115   40   40.0  2.0  1.0     0.0      0.0   Cipayung        SHM   1300.0
116   50   50.0  2.0  1.0     0.0      0.0   Cipayung        SHM   1300.0
117  100   15.0  3.0  3.0     1.0      1.0     Cinere        SHM   3500.0

      harga
0    2100.0
1     250.0
2     250.0
3     250.0
4     350.0
..      ...
113   750.0
114  1000.0
115   195.0
116   185.0
117  1750.0

[118 rows x 10 columns]
        LT     LB   KT   KM  garasi  carport          lokasi sertifikat  \
0     75.0   38.0  2.0  1.0     1.0      1.0      Bojonggede        SHM
1     60.0   40.0  1.0  1.0     0.0      1.0  Babakan Madang        SHM
2     60.0   50.0  2.0  2.0     0.0      1.0  Babakan Madang        SHM
3     60.0   70.0  3.0  2.0     0.0      1.0  Babakan Madang        SHM
4     90.0   60.0  3.0  2.0     0.0      2.0  Babakan Madang        SHM
..     ...    ...  ...  ...     ...      ...             ...        ...
188   90.0   36.0  2.0  1.0     0.0      1.0    Gunung Putri        SHM
189  107.0   31.0  2.0  1.0     0.0      1.0        Sukaraja        SHM
190  210.0  150.0  4.0  2.0     1.0      1.0   Bogor Selatan        SHM
191   90.0   36.0  2.0  1.0     0.0      1.0       Cileungsi        SHM
192   72.0   90.0  3.0  2.0     1.0      1.0        Cibinong        SHM

     listrik         harga
0     1300.0  6.925500e+08
1     2200.0  8.114000e+08
2     2200.0  9.005000e+08
3     2200.0  1.001900e+09
4     2200.0  1.200800e+09
..       ...           ...
188   1300.0  4.405500e+08
189   1300.0  4.086500e+08
190   2200.0  1.200000e+09
191   1300.0  4.405500e+08
192   2200.0  9.000000e+08

[193 rows x 10 columns]
        LT     LB   KT   KM  garasi  carport                     lokasi  \
0     60.0   50.0  3.0  2.0     0.0      0.0        BSD CITY, TANGERANG
1     72.0   54.0  2.0  1.0     1.0      1.0          CISAUK, TANGERANG
2     60.0   48.0  3.0  2.0     2.0      2.0         CILEDUG, TANGERANG
3    200.0  225.0  5.0  4.0     0.0      0.0  LIPPO KARAWACI, TANGERANG
4     76.0  123.0  3.0  3.0     0.0      2.0     PONDOK CABE, TANGERANG
..     ...    ...  ...  ...     ...      ...                        ...
119   60.0   55.0  2.0  2.0     0.0      1.0  LIPPO KARAWACI, TANGERANG
120   66.0   70.0  3.0  2.0     0.0      1.0          Ciater, Tangerang
121  202.0   85.0  4.0  3.0     1.0      1.0  BSD Griya Loka, Tangerang
122  108.0  130.0  3.0  3.0     1.0      1.0      Pagedangan, Tangerang
123   91.0   91.0  3.0  2.0     0.0      0.0           Poris, Tangerang

                          sertifikat  listrik   harga
0                                SHM   1300.0   500.0
1                                SHM   1300.0   480.0
2                                SHM   2200.0   600.0
3                                SHM   5500.0  4250.0
4                                SHM   2200.0  1700.0
..                               ...      ...     ...
119  lainnya(PPJB, GIRIK, ADAT, dll)   2200.0   711.0
120                              SHM   1300.0   850.0
121                              SHM   2200.0  1860.0
122                              SHM   2200.0  1800.0
123                              SHM   3500.0  1000.0

[124 rows x 10 columns]
        LT     LB   KT   KM  garasi  carport            lokasi sertifikat  \
0     71.0   43.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi        SHM
1     59.0   60.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi        SHM
2    124.0   95.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi        SHM
3    144.0  100.0  2.0  1.0     0.0      1.0  Kabupaten Bekasi        SHM
4    108.0  100.0  3.0  2.0     0.0      1.0  Kabupaten Bekasi        SHM
..     ...    ...  ...  ...     ...      ...               ...        ...
102  180.0  220.0  5.0  3.0     0.0      0.0       Kota Bekasi        SHM
103  140.0  250.0  3.0  2.0     0.0      0.0  Kabupaten Bekasi        SHM
104   60.0   55.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi        SHM
105   36.0   60.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi        SHM
106   60.0   55.0  2.0  1.0     0.0      0.0  Kabupaten Bekasi        SHM

     listrik         harga
0     1300.0  5.500000e+08
1        NaN  4.400000e+08
2        NaN  6.990000e+08
3     2200.0  1.350000e+09
4     2200.0  1.400000e+09
..       ...           ...
102   2200.0  1.600000e+09
103   2200.0  8.500000e+08
104   1300.0  2.500000e+08
105   1300.0  3.000000e+08
106   1300.0  2.500000e+08

[107 rows x 10 columns]

In [75]:
dfJ3.dtypes

LT             float64
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi        category
sertifikat    category
listrik        float64
harga          float64
dtype: object

In [71]:
dfJ3['lokasi'] = dfJ3['lokasi'].astype('category')
dfJ3['sertifikat'] = dfJ3['sertifikat'].astype('category')

In [78]:
dfD3.dtypes

LT            category
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi        category
sertifikat    category
listrik        float64
harga          float64
dtype: object

In [77]:
dfD3['LT'] = dfD3['LT'].astype('category')
dfD3['lokasi'] = dfD3['lokasi'].astype('category')
dfD3['sertifikat'] = dfD3['sertifikat'].astype('category')

In [81]:
dfB3.dtypes

LT             float64
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi        category
sertifikat    category
listrik        float64
harga          float64
dtype: object

In [80]:
dfB3['lokasi'] = dfB3['lokasi'].astype('category')
dfB3['sertifikat'] = dfB3['sertifikat'].astype('category')

In [84]:
dfT3.dtypes

LT             float64
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi        category
sertifikat    category
listrik        float64
harga          float64
dtype: object

In [83]:
dfT3['lokasi'] = dfT3['lokasi'].astype('category')
dfT3['sertifikat'] = dfT3['sertifikat'].astype('category')

In [87]:
dfX3.dtypes

LT             float64
LB             float64
KT             float64
KM             float64
garasi         float64
carport        float64
lokasi        category
sertifikat    category
listrik        float64
harga          float64
dtype: object

In [86]:
dfX3['lokasi'] = dfX3['lokasi'].astype('category')
dfX3['sertifikat'] = dfX3['sertifikat'].astype('category')

In [90]:
print(dfJ3.shape)
dfJ3.duplicated().sum()

(121, 10)

0

In [95]:

print(dfD3.shape)
dfD3.duplicated().sum()

(106, 10)

0

In [94]:
dfD3.drop_duplicates(inplace=True)
print(dfD3.duplicated().sum())

0

In [97]:
print(dfB3.shape)
dfB3.duplicated().sum()

(191, 10)

0

In [96]:
dfB3.drop_duplicates(inplace=True)
print(dfB3.duplicated().sum())

0

In [99]:
print(dfT3.shape)
dfT3.duplicated().sum()

(122, 10)

0

In [98]:
dfT3.drop_duplicates(inplace=True)
print(dfT3.duplicated().sum())

0

In [101]:

print(dfX3.shape)
dfX3.duplicated().sum()

(103, 10)

0

In [100]:
dfX3.drop_duplicates(inplace=True)
print(dfX3.duplicated().sum())

0

Di studi kasus pertama, anda mendapat bantuan keterangan dari manajemen. Setelah berdiskusi over lunch dengan beberapa manager senior, anda mendengar bahwa mereka ingin mengetahui:

1. Kualitas data yang dimiliki perusahaan.
2. Apakah ada saran perbaikan data ke DE/DBA perusahaan agar RPPI menjadi data driven company yang unggul.
3. Dari data yang ada, apakah ada kecenderungan rumah disuatu kota lebih mahal/murah dibandingkan kota lain?
4. Dari data yang ada, apakah bisa dibuat rekomendasi sebaiknya RPPI membuat kantor cabang berikutnya di kota mana? Mengapa? (Asumsikan RPPI belum memiliki cabang di kota-kota yang disebutkan di data).
5. Rumah dengan karakteristik seperti apa yang paling banyak dijual?
6. Jika RPPI ingin melakukan investasi (max) Rp. 25 Milyar minggu besok, apakah dari data anda dapat memberikan rekomendasi rumah mana saja yang akan berpotensi menghasilkan keuntungan bagi perusahaan?
7. Dan yang terpenting, informasi berharga apa lagi yang bisa anda dapatkan dari data?

Jawab:

1. Kualitas data missing valuenya cukup banyak sehingga perlu dihilangkan terlebih dahulu missing valuenya dan duplicatenya